@font-face {
  font-family: 'NYTGraphikXcond';
  src: url('https://typeface.nytimes.com/fonts/family/graphik-xcond/graphik-xcond-normal-600.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}